.list {
    display: flex;
    list-style: none;
    width: 60%;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: -0.3rem;
}

.list_item {
    cursor: auto;
    flex: 40%;
}

@media screen and (max-width: 639px) {
    .list {
        width: 100%;
    }

    .list_item {
        cursor: auto;
        flex: 100%;
    }
}
