.experience_date {
    min-width: 25%;
    max-width: 25%;
    height: 100%;
    font-size: 0.7rem;
    line-height: 0.95rem;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .experience_date {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .experience_date {
        font-size: 0.8rem;
    }
}
