.experience_date {
    min-width: 19%;
    max-width: 19%;
    height: 100%;
    font-size: 0.7rem;
    line-height: 0.95rem;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .experience_date {
        font-size: 0.6rem;
    }
}

@media screen and (min-width: 640px) and (max-width: 1023px) {
    .experience_date {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 639px) {
    .experience_date {
        min-width: 100%;
        max-width: 100%;
        font-size: 0.8rem;
    }
}
