.project {
    display: flex;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    transform: scale(0.9);
    transition: 0.1s;
    border-top: 0.01rem solid;
    border-right: 0.1rem solid;
    border-top-color: transparent;
    border-right-color: transparent;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.01);
    cursor: pointer;
    gap: 1rem;
}

.project:hover {
    border-top: 0.01rem solid;
    border-right: 0.05rem solid;
    border-top-color: rgba(255, 255, 255, 0.3);
    border-right-color: rgba(29, 29, 29, 0.9);
    background: #ededed0e;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
    transition: 0.1s;
}

.text_group {
    display: flex;
    flex-direction: column;
    margin-top: -0.22rem;
    gap: 0.5rem;
}

.title {
    font-family: InterBold;
    font-size: 0.9rem;
}

.description {
    font-family: InterRegular;
    font-size: 0.7rem;
    color: #8a92a9;
}

.tech_container {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.5rem;
    gap: 0.5rem;
    flex: 10%;
}

.tech {
    padding: 0.3rem 0.9rem;
    color: #b56400;
    background: #975f1b31;
    font-weight: 700;
    border-radius: 1rem;
}

.thumbnail_container {
    display: flex;
    justify-content: center;
    min-width: 128px;
    height: 72px;
}

.thumbnail_web {
    border: 1px solid gray;
    min-width: 128px;
    height: 72px;
    border-radius: 0.18rem;
}

.thumbnail_mobile {
    border: 1px solid gray;
    width: 41px;
    height: 89px;
    border-radius: 0.18rem;
}
