.thumbnail_container {
    display: flex;
    justify-content: center;
    min-width: 19%;
    max-width: 19%;
    height: auto;
}

.thumbnail_web {
    border: 1px solid gray;
    min-width: 100%;
    height: auto;
    border-radius: 0.18rem;
}

.thumbnail_mobile {
    border: 1px solid gray;
    width: auto;
    height: 100px;
    border-radius: 0.18rem;
}
