*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

@font-face {
    font-family: InterLight;
    src: url(./fonts/inter/Inter-Light.ttf) format("trueType");
}

@font-face {
    font-family: InterExtraLight;
    src: url(./fonts/inter/Inter-ExtraLight.ttf) format("trueType");
}

@font-face {
    font-family: InterThin;
    src: url(./fonts/inter/Inter-Thin.ttf) format("trueType");
}

@font-face {
    font-family: InterRegular;
    src: url(./fonts/inter/Inter-Regular.ttf) format("trueType");
}

@font-face {
    font-family: InterMedium;
    src: url(./fonts/inter/Inter-Medium.ttf) format("trueType");
}

@font-face {
    font-family: InterSemiBold;
    src: url(./fonts/inter/Inter-SemiBold.ttf) format("trueType");
}

@font-face {
    font-family: InterBold;
    src: url(./fonts/inter/Inter-Bold.ttf) format("trueType");
}

html {
    overflow: auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: InterRegular;
    overflow: hidden;
    letter-spacing: 0.027rem;
    background-color: #121212;
    color: #ccd6f6;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-family: InterSemiBold;
    font-size: 2.5rem;
    color: #ccd6f6;
}

a {
    font-family: InterRegular;
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #975f1b;
    cursor: pointer;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
}

:hover::-webkit-scrollbar-track {
    transition: 0.5s;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.02);
}

::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

:hover::-webkit-scrollbar-thumb {
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    h1 {
        font-size: 1.9rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    body {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 639px) {
    body {
        display: block;
        overflow-y: auto;
        overflow-x: hidden;
        letter-spacing: 0.01rem;
    }

    h1 {
        font-size: 1.9rem;
    }
}
