.container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.title {
}

.list {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1rem;
}

.list::-webkit-scrollbar {
    display: none;
}
