.section_container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    height: 80%;
    width: 100%;
    gap: 0.1em;
}

.section__title {
    font-size: 0.9rem;
    font-family: InterSemiBold;
}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .section__title {
        font-size: 0.75rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .section__title {
        font-size: 1.1rem;
        font-weight: 700;
    }

    .section_container {
        display: block;
        padding: 0 2rem;
        height: 100%;
        gap: 0.1em;
    }
}
